<!DOCTYPE html>
<html>
  <head>
    <title>CustomChatbot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-dark">
  <nav class="navbar navbar-dark navbar-expand-lg border-bottom border-light bg-dark d-lg-none">
    <div class="container-fluid">
      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-conversations" aria-controls="offcanvas-conversations">
        <i class="bi bi-list"></i>
      </button>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
